tags/legstar-xsd2cob-pom-0.2.2/trunk/legstar-xsd2cob/src/test/resources/reference/Xsd2CobAnnotatorTest/customertype.xsd.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cb="http://www.legsem.com/legstar/xml/cobol-binding-1.0.1.xsd" attributeFormDefault="unqualified" elementFormDefault="unqualified">
    <xs:complexType name="CustomerType">
        <xs:sequence>
            <xs:element name="name" type="CustNameType"/>
            <xs:element name="number" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CustNameType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
</xs:schema>
