legstar-xsd2cob/src/test/resources/reference/Xsd2CobTest/MSNSearch.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cb="http://www.legsem.com/legstar/xml/cobol-binding-1.0.1.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://schemas.microsoft.com/MSNSearch/2005/09/fex" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/MSNSearch/2005/09/fex">
    <xsd:simpleType name="SourceType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Web"/>
            <xsd:enumeration value="News"/>
            <xsd:enumeration value="Ads"/>
            <xsd:enumeration value="InlineAnswers"/>
            <xsd:enumeration value="PhoneBook"/>
            <xsd:enumeration value="WordBreaker"/>
            <xsd:enumeration value="Spelling"/>
            <xsd:enumeration value="QueryLocation"/>
            <xsd:enumeration value="Image"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ResultFieldMask">
        <xsd:list>
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="All"/>
                    <xsd:enumeration value="Title"/>
                    <xsd:enumeration value="Description"/>
                    <xsd:enumeration value="Url"/>
                    <xsd:enumeration value="DisplayUrl"/>
                    <xsd:enumeration value="CacheUrl"/>
                    <xsd:enumeration value="Source"/>
                    <xsd:enumeration value="SearchTags"/>
                    <xsd:enumeration value="Phone"/>
                    <xsd:enumeration value="DateTime"/>
                    <xsd:enumeration value="Address"/>
                    <xsd:enumeration value="Location"/>
                    <xsd:enumeration value="SearchTagsArray"/>
                    <xsd:enumeration value="Summary"/>
                    <xsd:enumeration value="ResultType"/>
                    <xsd:enumeration value="Image"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:list>
    </xsd:simpleType>
    <xsd:simpleType name="SafeSearchOptions">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Moderate"/>
            <xsd:enumeration value="Strict"/>
            <xsd:enumeration value="Off"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="SearchFlags">
        <xsd:list>
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="None"/>
                    <xsd:enumeration value="MarkQueryWords"/>
                    <xsd:enumeration value="DisableSpellCorrectForSpecialWords"/>
                    <xsd:enumeration value="DisableHostCollapsing"/>
                    <xsd:enumeration value="DisableLocationDetection"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:list>
    </xsd:simpleType>
    <xsd:simpleType name="SortByType">
        <xsd:list>
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Default"/>
                    <xsd:enumeration value="Relevance"/>
                    <xsd:enumeration value="Distance"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:list>
    </xsd:simpleType>
    <xsd:complexType name="SearchConstants">
        <xsd:sequence>
            <xsd:element default="?" minOccurs="0" name="MarkBegin" type="xsd:string"/>
            <xsd:element default="?" minOccurs="0" name="MarkEnd" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Location">
        <xsd:sequence>
            <xsd:element name="Latitude" type="xsd:double">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="Latitude" levelNumber="15" type="DOUBLE_FLOAT_ITEM" usage="COMP-2"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Longitude" type="xsd:double">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="Longitude" levelNumber="15" type="DOUBLE_FLOAT_ITEM" usage="COMP-2"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element default="5.0" minOccurs="0" name="Radius" type="xsd:double">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="Radius" levelNumber="15" type="DOUBLE_FLOAT_ITEM" usage="COMP-2"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Address">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="AddressLine" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="AddressLine" levelNumber="15" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="PrimaryCity" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="PrimaryCity" levelNumber="15" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="SecondaryCity" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="SecondaryCity" levelNumber="15" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Subdivision" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="Subdivision" levelNumber="15" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="PostalCode" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="PostalCode" levelNumber="15" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="CountryRegion" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="CountryRegion" levelNumber="15" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="FormattedAddress" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="FormattedAddress" levelNumber="15" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DateTime">
        <xsd:sequence>
            <xsd:element name="Year" type="xsd:int">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="Year" levelNumber="15" picture="S9(9)" signed="true" totalDigits="9" type="BINARY_ITEM" usage="COMP-5"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Month" type="xsd:int">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="Month" levelNumber="15" picture="S9(9)" signed="true" totalDigits="9" type="BINARY_ITEM" usage="COMP-5"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Day" type="xsd:int">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="R-Day" levelNumber="15" picture="S9(9)" signed="true" totalDigits="9" type="BINARY_ITEM" usage="COMP-5"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Hour" type="xsd:int">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="Hour" levelNumber="15" picture="S9(9)" signed="true" totalDigits="9" type="BINARY_ITEM" usage="COMP-5"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Minute" type="xsd:int">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="Minute" levelNumber="15" picture="S9(9)" signed="true" totalDigits="9" type="BINARY_ITEM" usage="COMP-5"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Second" type="xsd:int">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="Second" levelNumber="15" picture="S9(9)" signed="true" totalDigits="9" type="BINARY_ITEM" usage="COMP-5"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SearchTag">
        <xsd:sequence>
            <xsd:element name="Name" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="Name" levelNumber="17" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Value" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="R-Value" levelNumber="17" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Image">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="ImageURL" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="ImageURL" levelNumber="15" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ImageWidth" type="xsd:int">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="ImageWidth" levelNumber="15" picture="S9(9)" signed="true" totalDigits="9" type="BINARY_ITEM" usage="COMP-5"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ImageHeight" type="xsd:int">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="ImageHeight" levelNumber="15" picture="S9(9)" signed="true" totalDigits="9" type="BINARY_ITEM" usage="COMP-5"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ImageFileSize" type="xsd:int">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="ImageFileSize" levelNumber="15" picture="S9(9)" signed="true" totalDigits="9" type="BINARY_ITEM" usage="COMP-5"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ThumbnailURL" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="ThumbnailURL" levelNumber="15" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ThumbnailWidth" type="xsd:int">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="ThumbnailWidth" levelNumber="15" picture="S9(9)" signed="true" totalDigits="9" type="BINARY_ITEM" usage="COMP-5"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ThumbnailHeight" type="xsd:int">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="ThumbnailHeight" levelNumber="15" picture="S9(9)" signed="true" totalDigits="9" type="BINARY_ITEM" usage="COMP-5"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ThumbnailFileSize" type="xsd:int">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="ThumbnailFileSize" levelNumber="15" picture="S9(9)" signed="true" totalDigits="9" type="BINARY_ITEM" usage="COMP-5"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SourceRequest">
        <xsd:sequence>
            <xsd:element default="Web" name="Source" type="tns:SourceType">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="R-Source" levelNumber="9" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element default="0" name="Offset" type="xsd:int">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="Offset" levelNumber="9" picture="S9(9)" signed="true" totalDigits="9" type="BINARY_ITEM" usage="COMP-5"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element default="10" name="Count" type="xsd:int">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="R-Count" levelNumber="9" picture="S9(9)" signed="true" totalDigits="9" type="BINARY_ITEM" usage="COMP-5"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="FileType" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="FileType" levelNumber="9" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element default="Default" minOccurs="0" name="SortBy" type="tns:SortByType">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="SortBy" levelNumber="9" maxOccurs="10" minOccurs="1" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element default="Title Description Url" name="ResultFields" type="tns:ResultFieldMask">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="ResultFields" levelNumber="9" maxOccurs="10" minOccurs="1" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="SearchTagFilters" type="tns:ArrayOfstringSearchTagFilters">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="SearchTagFilters" levelNumber="9" type="GROUP_ITEM"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ArrayOfstringSearchTagFilters">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="string" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="R-string" levelNumber="11" maxOccurs="10" minOccurs="0" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Result">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Title" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="R-Title" levelNumber="13" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Description" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="Description" levelNumber="13" picture="X(256)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Url" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="Url" levelNumber="13" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="DisplayUrl" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="DisplayUrl" levelNumber="13" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="CacheUrl" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="CacheUrl" levelNumber="13" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Source" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="R-Source" levelNumber="13" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="SearchTags" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="SearchTags" levelNumber="13" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Phone" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="Phone" levelNumber="13" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="DateTime" type="tns:DateTime">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="DateTime" levelNumber="13" type="GROUP_ITEM"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Address" type="tns:Address">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="R-Address" levelNumber="13" type="GROUP_ITEM"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Location" type="tns:Location">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="Location" levelNumber="13" type="GROUP_ITEM"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="SearchTagsArray" type="tns:ArrayOfSearchTagSearchTagsArray">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="SearchTagsArray" levelNumber="13" type="GROUP_ITEM"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Summary" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="Summary" levelNumber="13" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ResultType" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="ResultType" levelNumber="13" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Image" type="tns:Image">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="Image" levelNumber="13" type="GROUP_ITEM"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ArrayOfSearchTagSearchTagsArray">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="SearchTag" type="tns:SearchTag">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="SearchTag" levelNumber="15" maxOccurs="10" minOccurs="0" type="GROUP_ITEM"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SourceResponse">
        <xsd:sequence>
            <xsd:element name="Source" type="tns:SourceType">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="R-Source" levelNumber="9" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Offset" type="xsd:int">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="Offset" levelNumber="9" picture="S9(9)" signed="true" totalDigits="9" type="BINARY_ITEM" usage="COMP-5"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Total" type="xsd:int">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="Total" levelNumber="9" picture="S9(9)" signed="true" totalDigits="9" type="BINARY_ITEM" usage="COMP-5"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Results" type="tns:ArrayOfResultResults">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="Results" levelNumber="9" type="GROUP_ITEM"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ArrayOfResultResults">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Result" type="tns:Result">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="Result" levelNumber="11" maxOccurs="10" minOccurs="0" type="GROUP_ITEM"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SearchRequest">
        <xsd:sequence>
            <xsd:element name="AppID" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="AppID" levelNumber="5" picture="X(40)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Query" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="Query" levelNumber="5" picture="X(128)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="CultureInfo" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="CultureInfo" levelNumber="5" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element default="Moderate" name="SafeSearch" type="tns:SafeSearchOptions">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="SafeSearch" levelNumber="5" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element default="None" name="Flags" type="tns:SearchFlags">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="Flags" levelNumber="5" maxOccurs="10" minOccurs="1" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Location" type="tns:Location">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="Location" levelNumber="5" type="GROUP_ITEM"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Requests" type="tns:ArrayOfSourceRequestRequests">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="Requests" levelNumber="5" type="GROUP_ITEM"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ArrayOfSourceRequestRequests">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="SourceRequest" type="tns:SourceRequest">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="SourceRequest" levelNumber="7" maxOccurs="10" minOccurs="0" type="GROUP_ITEM"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SearchResponse">
        <xsd:sequence>
            <xsd:element name="Responses" type="tns:ArrayOfSourceResponseResponses">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="Responses" levelNumber="5" type="GROUP_ITEM"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ArrayOfSourceResponseResponses">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="SourceResponse" type="tns:SourceResponse">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="SourceResponse" levelNumber="7" maxOccurs="10" minOccurs="0" type="GROUP_ITEM"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Search">
        <xsd:annotation>
            <xsd:appinfo>
                <cb:cobolElement cobolName="R-Search" levelNumber="1" type="GROUP_ITEM"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Request" type="tns:SearchRequest">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <cb:cobolElement cobolName="Request" levelNumber="3" type="GROUP_ITEM"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SearchResponse">
        <xsd:annotation>
            <xsd:appinfo>
                <cb:cobolElement cobolName="SearchResponse" levelNumber="1" type="GROUP_ITEM"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Response" type="tns:SearchResponse">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <cb:cobolElement cobolName="Response" levelNumber="3" type="GROUP_ITEM"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
